/* CSS for Activites page */
html{
    background-color: #e2d1ac;
  }
  body{
    margin:0;
  }
  
  /* css for main header on "Activites" page */
  h1{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 0;
    width: 100%;
    margin: 0;
    color: rgb(43, 47, 50);
    letter-spacing: 4px;
    border-bottom-style: solid;
    border-bottom-color: rgb(232,233,235);
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .navbar{ /* formatting for the navigation bar  */
    list-style-type: none;
    color: rgb(61,66,70);
    margin: 0px;
  }
  .navbar a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: sans-serif;
    color:rgb(61,66,70);
    text-align: center;
    padding: 16px 16px;
    margin: 0px;
    float: right;
  }
  .navbar a:hover{
    background-color: #c93f1d;
    color: white;
  }
  img { /* edits for carnival image for activities page */
    width: 80%;
    height: 100%;
    border-top-style: solid;
    border-top-color: rgb(44, 46, 49);
    padding-top: 5px;
  }
  h2{ /* second header below image */
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
        text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 0;
    width:100%;
    margin:0;
    color:rgb(61,66,70);
    letter-spacing:2px;
    padding-top: 20px;
  }
  h3{ /* formatting for locations/activites in Colombia */
    font-style: bold;
    font-weight: 400;
    text-transform: uppercase;
    font-family: sans-serif;
    color:rgb(61,66,70);
    padding-left: 30px;
  }
  p{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: sans-serif;
    color: rgb(41, 45, 50);
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 5px;
    
  }
  a{ 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: sans-serif;
    padding-left: 70px;
    padding-right: 70px;
    
  }
  footer{
    background-color: #e2d1ac;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
        text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    color:rgb(61,66,70);
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top:80px;
  }
  .logo{
    float: left; /* added formatting to allow logo to appear in the left side of the footer */
    height: 70px;
    width: 100px;
  }
  /* This CSS affects all of my social media buttons appearance */
  .social-media{
    list-style-type:none; 
    margin: 0px;
  }
  .social-media a{ /* use the "a" in css to style everything underneath the social media class */
    text-align: center;
    padding: 16px 16px;
    margin: 0px;
    float: right;
    background: #c93f1d;
    color: white;}
  
  .fa:hover { /* hover selector for mouse */
    opacity: 0.7;
  }
  